<div class="form-group">
    <select class="form-control" @bind="SelectedLanguage">
            <option value="ar-EG">العربية</option>
            <option value="en-US">English</option>
    </select>
</div>
<button class="btn btn-primary" @onclick="ChangeLanguage">Change Language</button>